.main_container {
  display: flex;
}
.main_aside {
  padding: 36px 28px 76px 28px;
  background-color: white;
  width: 306px;
}

.main_right {
  background-color: $_header_accent_color;
  padding: 41px 95px 258px 71px;
  width: 968px;
}
